body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
}

.btn-modern {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
   
}

.btn-modern:hover {
    animation: traslacion 4s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    color: yellow;

}

@keyframes traslacion {
    0% {
        background-color: green;
        transform: translateY(-5px);}
    }